*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.stage{
    height: 180px;
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
}

.tower{
    background-color: rgb(206, 206, 77);
    height: 160px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}



.stem{
    background-color: #000;
    height: 140px;
    width: 8px;
    
    }

.plate{
    width: 115px;
    height: 10px;
    background-color: brown;
    border-radius: 10px;
    /* z-index: 1; */
}